In [58]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#Store Part I results into DataFrame
#Load the data to a DataFrame
cary_data = pd.read_csv("/Users/erikaberry/Desktop/Traffic_Accidents/data/cpd-crash-incidents.csv", encoding="utf-8")
cary_data.head()

,tamainid,Location_Description,Road_Feature,Road_Character,Road_Class,Road_Configuration,Road_Surface,Road_Conditions,Light_Condition,Weather,...,Fatalities,Injuries,Month,contrfact1,contrfact2,Contributing Factor,vehicleconcat1,vehicleconcat2,vehicleconcat3,Vehicle Type
0,14907,300 FEET FROM SR 1313 (1105 WALNUT ST),"DRIVEWAY, PRIVATE","STRAIGHT,LEVEL",PUBLIC VEHICULAR AREA,"TWO-WAY,NOT DIVIDED",COARSE ASPHALT,DRY,DAYLIGHT,CLOUDY,...,No,No,1,NONE,"NONE,NONE","NONE,NONE","PASSENGER CAR,UNKNOWN","PASSENGER CAR,UNKNOWN","PASSENGER CAR,UNKNOWN","PASSENGER CAR,UNKNOWN"
1,14911,0 FEET FROM SR 1613 (DAVIS DR),FOUR-WAY INTERSECTION,"STRAIGHT,LEVEL",STATE SECONDARY ROUTE,"TWO-WAY,DIVIDED,POSITIVE MEDIAN BARRIER",SMOOTH ASPHALT,DRY,DAYLIGHT,CLOUDY,...,No,No,1,NONE,"NONE,NONE","NONE,NONE","PASSENGER CAR,PASSENGER CAR","PASSENGER CAR,PASSENGER CAR,PASSENGER CAR","PASSENGER CAR,PASSENGER CAR,PASSENGER CAR","PASSENGER CAR,PASSENGER CAR,PASSENGER CAR"
2,14912,0 FEET FROM SR 1009 (TRYON RD),Y-INTERSECTION,"CURVE,BOTTOM (SAG)",STATE SECONDARY ROUTE,"TWO-WAY,DIVIDED,UNPROTECTED MEDIAN",SMOOTH ASPHALT,DRY,DAYLIGHT,CLEAR,...,No,No,1,NONE,"NONE,NONE","NONE,NONE","PASSENGER CAR,OTHER BUS","PASSENGER CAR,OTHER BUS","PASSENGER CAR,OTHER BUS","PASSENGER CAR,OTHER BUS"
3,14918,CARY,NO SPECIAL FEATURE,"STRAIGHT,LEVEL",PUBLIC VEHICULAR AREA,"ONE-WAY,NOT DIVIDED",SMOOTH ASPHALT,WET,DAYLIGHT,CLOUDY,...,No,No,1,NONE,"NONE,NONE","NONE,NONE","PASSENGER CAR,PASSENGER CAR","PASSENGER CAR,PASSENGER CAR","PASSENGER CAR,PASSENGER CAR","PASSENGER CAR,PASSENGER CAR"
4,14923,0 FEET FROM US 64 HWY,T-INTERSECTION,"STRAIGHT,LEVEL",US ROUTE,"TWO-WAY,NOT DIVIDED",SMOOTH ASPHALT,DRY,DAYLIGHT,CLEAR,...,No,No,1,NONE,"NONE,NONE","NONE,NONE","PASSENGER CAR,SPORT UTILITY","PASSENGER CAR,SPORT UTILITY","PASSENGER CAR,SPORT UTILITY","PASSENGER CAR,SPORT UTILITY"

In [59]:
is_2019 =  cary_data['year']==2019
print(is_2019.head())

0    False
1    False
2    False
3    False
4    False
Name: year, dtype: bool

In [60]:
cary_accident_data_revised = cary_data[is_2019]
print(cary_accident_data_revised.shape)

(5032, 47)

In [61]:
cary_accident_data_revised.round({"lat":6, "lon":6})

,tamainid,Location_Description,Road_Feature,Road_Character,Road_Class,Road_Configuration,Road_Surface,Road_Conditions,Light_Condition,Weather,...,Fatalities,Injuries,Month,contrfact1,contrfact2,Contributing Factor,vehicleconcat1,vehicleconcat2,vehicleconcat3,Vehicle Type
979,38224,100 FEET FROM 1961 HIGH HOUSE RD SR 1615,"DRIVEWAY, PUBLIC","STRAIGHT,LEVEL",PUBLIC VEHICULAR AREA,"TWO-WAY,NOT DIVIDED",SMOOTH ASPHALT,DRY,DAYLIGHT,CLEAR,...,No,No,1,NONE,"NONE,NONE","NONE,NONE","PASSENGER CAR,VAN","PASSENGER CAR,VAN","PASSENGER CAR,VAN","PASSENGER CAR,VAN"
980,38230,100 FEET FROM PVA 100 WHITE BLUFF LN,"DRIVEWAY, PUBLIC","STRAIGHT,GRADE",PUBLIC VEHICULAR AREA,"TWO-WAY,NOT DIVIDED",SMOOTH ASPHALT,DRY,DAYLIGHT,CLEAR,...,No,No,1,NONE,"NONE,NONE","NONE,NONE",PASSENGER CAR,PASSENGER CAR,PASSENGER CAR,PASSENGER CAR
981,38234,150 FEET FROM SR 1652 (N HARRISON AV),NO SPECIAL FEATURE,"STRAIGHT,LEVEL",STATE SECONDARY ROUTE,"ONE-WAY,NOT DIVIDED",SMOOTH ASPHALT,WET,DAYLIGHT,RAIN,...,No,Yes,1,NONE,"NONE,NONE","NONE,NONE","PASSENGER CAR,PASSENGER CAR","PASSENGER CAR,PASSENGER CAR,PASSENGER CAR","PASSENGER CAR,PASSENGER CAR,PASSENGER CAR","PASSENGER CAR,PASSENGER CAR,PASSENGER CAR"
982,38240,479 FEET FROM SR 3073 (NW MAYNARD RD),NO SPECIAL FEATURE,"STRAIGHT,LEVEL",STATE SECONDARY ROUTE,"TWO-WAY,DIVIDED,UNPROTECTED MEDIAN",SMOOTH ASPHALT,WET,DARK - LIGHTED ROADWAY,CLOUDY,...,No,Yes,1,NONE,"NONE,NONE","NONE,NONE","SPORT UTILITY,PASSENGER CAR","SPORT UTILITY,PASSENGER CAR","SPORT UTILITY,PASSENGER CAR","SPORT UTILITY,PASSENGER CAR"
983,38244,.05 MILES FROM SR 1625 (GREEN LEVEL CHURCH RD,RELATED TO INTERSECTION,"STRAIGHT,HILLCREST",STATE SECONDARY ROUTE,"TWO-WAY,DIVIDED,UNPROTECTED MEDIAN",SMOOTH ASPHALT,DRY,DAYLIGHT,CLEAR,...,No,No,1,NONE,"NONE,NONE","NONE,NONE","SPORT UTILITY,VAN","SPORT UTILITY,VAN,VAN","SPORT UTILITY,VAN,VAN","SPORT UTILITY,VAN,VAN"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24083,40786,0 FEET FROM SR 1370 (KILDAIRE FARM RD),T-INTERSECTION,"STRAIGHT,LEVEL",STATE SECONDARY ROUTE,"TWO-WAY,DIVIDED,UNPROTECTED MEDIAN",SMOOTH ASPHALT,DRY,DAYLIGHT,CLEAR,...,No,No,7,NONE,"NONE,NONE","NONE,NONE","PASSENGER CAR,PASSENGER CAR","PASSENGER CAR,PASSENGER CAR","PASSENGER CAR,PASSENGER CAR","PASSENGER CAR,PASSENGER CAR"
24084,40808,40 FEET FROM SR 1521 (LAKE PINE DR),FOUR-WAY INTERSECTION,"STRAIGHT,LEVEL",LOCAL STREET,"TWO-WAY,DIVIDED,UNPROTECTED MEDIAN",SMOOTH ASPHALT,DRY,DAYLIGHT,CLEAR,...,No,No,7,NONE,"NONE,NONE","NONE,NONE","PASSENGER CAR,SPORT UTILITY","PASSENGER CAR,SPORT UTILITY","PASSENGER CAR,SPORT UTILITY","PASSENGER CAR,SPORT UTILITY"
24085,40815,.02 MILES FROM US 64 HWY,RELATED TO INTERSECTION,"STRAIGHT,LEVEL",US ROUTE,"TWO-WAY,NOT DIVIDED",SMOOTH ASPHALT,DRY,DAYLIGHT,CLEAR,...,No,Yes,7,NONE,"NONE,NONE","NONE,NONE","VAN,PASSENGER CAR","VAN,PASSENGER CAR,PASSENGER CAR","VAN,PASSENGER CAR,PASSENGER CAR","VAN,PASSENGER CAR,PASSENGER CAR"
24086,40820,450 FEET FROM SR1011- E CHATHAM ST,NO SPECIAL FEATURE,"STRAIGHT,LEVEL",STATE SECONDARY ROUTE,"TWO-WAY,NOT DIVIDED",SMOOTH ASPHALT,DRY,DAYLIGHT,CLEAR,...,No,Yes,7,NONE,"NONE,NONE","NONE,NONE","PASSENGER CAR,PASSENGER CAR","PASSENGER CAR,PASSENGER CAR","PASSENGER CAR,PASSENGER CAR","PASSENGER CAR,PASSENGER CAR"
24087,40822,CARY,FOUR-WAY INTERSECTION,"CURVE,GRADE",STATE SECONDARY ROUTE,"TWO-WAY,DIVIDED,UNPROTECTED MEDIAN",SMOOTH ASPHALT,DRY,DAYLIGHT,CLEAR,...,No,No,7,NONE,"NONE,NONE","NONE,NONE","PASSENGER CAR,PICKUP","PASSENGER CAR,PICKUP","PASSENGER CAR,PICKUP","PASSENGER CAR,PICKUP"

In [69]:
# Filters and rearranges dataset to display most useful columns
cary_accident_data_revised_columns = cary_accident_data_revised[["TA_Date", "TA_Time", "lat", "lon", 
                                               "Weather", "Light_Condition"]]

cary_accident_data_revised_columns.head(20)

    TA_Date     TA_Time        lat        lon Weather         Light_Condition
979  1/2/19  1:31:32 PM  35.791400 -78.847219   CLEAR                DAYLIGHT
980  1/2/19  4:19:01 PM        NaN        NaN   CLEAR                DAYLIGHT
981  1/3/19  7:42:27 AM  35.669105 -78.949415    RAIN                DAYLIGHT
982  1/3/19  7:28:33 PM        NaN        NaN  CLOUDY  DARK - LIGHTED ROADWAY
983  1/2/19  9:14:14 AM        NaN        NaN   CLEAR                DAYLIGHT
984  1/4/19    11:01 AM        NaN        NaN    RAIN                DAYLIGHT
985  1/4/19    12:08 PM        NaN        NaN    RAIN                DAYLIGHT
986  1/5/19  3:29:54 PM        NaN        NaN   CLEAR                DAYLIGHT
987  1/5/19    10:45 PM        NaN        NaN   CLEAR  DARK - LIGHTED ROADWAY
988  1/5/19    10:47 PM        NaN        NaN   CLEAR                    DUSK
989  1/3/19  7:55:29 PM        NaN        NaN   CLEAR  DARK - LIGHTED ROADWAY
990  1/4/19  9:22:49 PM        NaN        NaN    RAIN  DARK - LIGHTED ROADWAY
991  1/4/19  5:05:22 PM        NaN        NaN    RAIN  DARK - LIGHTED ROADWAY
992  1/5/19    11:08 AM        NaN        NaN   CLEAR                DAYLIGHT
993  1/7/19  7:36:28 PM        NaN        NaN   CLEAR  DARK - LIGHTED ROADWAY
994  1/7/19  4:56:17 PM        NaN        NaN   CLEAR                DAYLIGHT
995  1/7/19  4:40:34 PM        NaN        NaN   CLEAR                DAYLIGHT
996  1/7/19  2:52:10 PM        NaN        NaN   CLEAR                DAYLIGHT
997  1/9/19  6:51:23 AM        NaN        NaN   CLEAR                DAYLIGHT
998  1/7/19  8:09:27 AM        NaN        NaN   CLEAR                DAYLIGHT

In [70]:
# Rename the column headers
cary_data_to_compare = cary_accident_data_revised_columns.rename(columns={"TA_Date": "Date", "TA_Time": "Time", "lat": "Lat", 
                                              "lon": "Lng", "Light_Condition": "Nautical_Twilight"})

cary_data_to_compare.head(20)

       Date        Time        Lat        Lng Weather       Nautical_Twilight
979  1/2/19  1:31:32 PM  35.791400 -78.847219   CLEAR                DAYLIGHT
980  1/2/19  4:19:01 PM        NaN        NaN   CLEAR                DAYLIGHT
981  1/3/19  7:42:27 AM  35.669105 -78.949415    RAIN                DAYLIGHT
982  1/3/19  7:28:33 PM        NaN        NaN  CLOUDY  DARK - LIGHTED ROADWAY
983  1/2/19  9:14:14 AM        NaN        NaN   CLEAR                DAYLIGHT
984  1/4/19    11:01 AM        NaN        NaN    RAIN                DAYLIGHT
985  1/4/19    12:08 PM        NaN        NaN    RAIN                DAYLIGHT
986  1/5/19  3:29:54 PM        NaN        NaN   CLEAR                DAYLIGHT
987  1/5/19    10:45 PM        NaN        NaN   CLEAR  DARK - LIGHTED ROADWAY
988  1/5/19    10:47 PM        NaN        NaN   CLEAR                    DUSK
989  1/3/19  7:55:29 PM        NaN        NaN   CLEAR  DARK - LIGHTED ROADWAY
990  1/4/19  9:22:49 PM        NaN        NaN    RAIN  DARK - LIGHTED ROADWAY
991  1/4/19  5:05:22 PM        NaN        NaN    RAIN  DARK - LIGHTED ROADWAY
992  1/5/19    11:08 AM        NaN        NaN   CLEAR                DAYLIGHT
993  1/7/19  7:36:28 PM        NaN        NaN   CLEAR  DARK - LIGHTED ROADWAY
994  1/7/19  4:56:17 PM        NaN        NaN   CLEAR                DAYLIGHT
995  1/7/19  4:40:34 PM        NaN        NaN   CLEAR                DAYLIGHT
996  1/7/19  2:52:10 PM        NaN        NaN   CLEAR                DAYLIGHT
997  1/9/19  6:51:23 AM        NaN        NaN   CLEAR                DAYLIGHT
998  1/7/19  8:09:27 AM        NaN        NaN   CLEAR                DAYLIGHT

In [71]:
cary_data_to_compare.head()

       Date        Time        Lat        Lng Weather       Nautical_Twilight
979  1/2/19  1:31:32 PM  35.791400 -78.847219   CLEAR                DAYLIGHT
980  1/2/19  4:19:01 PM        NaN        NaN   CLEAR                DAYLIGHT
981  1/3/19  7:42:27 AM  35.669105 -78.949415    RAIN                DAYLIGHT
982  1/3/19  7:28:33 PM        NaN        NaN  CLOUDY  DARK - LIGHTED ROADWAY
983  1/2/19  9:14:14 AM        NaN        NaN   CLEAR                DAYLIGHT

In [72]:
cary_data_to_compare.dropna(axis=0, how="any", thresh=None, subset=None, inplace=True)
cary_data_to_compare.head()

,Date,Time,Lat,Lng,Weather,Nautical_Twilight
979,1/2/19,1:31:32 PM,35.791400,-78.847219,CLEAR,DAYLIGHT
981,1/3/19,7:42:27 AM,35.669105,-78.949415,RAIN,DAYLIGHT
1019,1/17/19,11:08 AM,35.790113,-78.872811,CLEAR,DAYLIGHT
1021,1/17/19,12:55 AM,35.754988,-78.808497,CLEAR,DARK - LIGHTED ROADWAY
1035,1/23/19,8:56:18 AM,35.806891,-78.909764,CLEAR,DAYLIGHT

In [75]:
# Export file as a CSV, without the Pandas index, but with the head
cary_data_to_compare.to_csv("Cary_Traffic.csv", sep='|', index=False, header=True)

In [67]:
from sqlalchemy import create_engine

In [27]:
connection_string = "postgres:postgres@localhost:5432/TrafficAccidents"
engine = create_engine(f'postgresql://{connection_string}')

In [28]:
engine.table_names()

['cary_accidents']

In [31]:
#cary_accidents.to_sql(name='cary_accidents', con=engine, if_exists='append', index=False)

In [30]:
pd.read_sql_query('select * from cary_accidents', con=engine).head()

Empty DataFrame
Columns: [date, time, weather, coordinates]
Index: []